.material-icons {
    font-size: 28px;
    vertical-align: middle;
}
.material-icons a {
    text-decoration:none;
}
.image-area {
    position: relative;
    width: 150px;
    float: left;
    margin: 0 21px 21px 0;
}
.image-area img{
    max-width: 100%;
    height: auto;
}
.remove-image {
    display: inline;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.remove-image:hover {
    background: #E54E4E;
    padding: 3px 7px 5px;
    top: -11px;
    right: -11px;
}
.remove-image:active {
    background: #E54E4E;
    top: -10px;
    right: -11px;
}
.field-required {
    border: solid 1px red;
    border-radius: 3px;
    padding-left: 7px;
}
div.field i {
    font-size: 14px;
}