
.entry-content .left,
.entry-content .right{
    width: 100%!important;
}
body{
    background-color: #fff!important
}
.main-navigation,
.compartilhe,
#comments,
.acessibilidade,
.lupa,
#responsive-menu-button{
    display: none;
}